.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
        border-radius: 50px;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 75%;
        width: 100%;
        color: rgb(116, 9, 240);
      }
      
      img{
          position: relative;
          height: 200px;
          border-radius: 50px;
      }
      button{
          height: 200px;
      }
    }
